<!-- <div *ngIf="toast$ | async as toast" class="fixed top-5 right-5 z-50 px-4 py-3 rounded shadow-lg text-white" [ngClass]="{
       'bg-green-500': toast?.type === 'success',
       'bg-red-500': toast?.type === 'error'
     }" [class.opacity-0]="!toast?.message" [class.opacity-100]="toast?.message">
    {{ toast?.message }}
</div> -->

<!-- toast-container.component.html -->
<div class="fixed top-5 right-5 z-50 flex flex-col gap-3 w-80">
    <div *ngFor="let toast of toasts$ | async"
        class="flex items-center justify-between px-4 py-3 rounded shadow-lg text-white animate-slide-in" [ngClass]="{
         'bg-green-500': toast.type === 'success',
         'bg-red-500': toast.type === 'error',
         'bg-blue-500': toast.type === 'info'
       }">

        <span>{{ toast.message }}</span>

        <button (click)="remove(toast.id)" class="ml-3 text-white font-bold">
            ✕
        </button>

        <!-- <div class="animate-progress"></div> -->
    </div>
</div>