<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-pink-100 via-pink-200 to-pink-300">
    <!-- <div class="bg-white/30 backdrop-blur-lg p-10 rounded-2xl shadow-xl"> -->
    <div class="text-center">

        <!-- Animated 404  animate-bounce-->
        <h1 class="text-9xl font-extrabold text-pink-500 animate-float">
            404
        </h1>

        <!-- Message -->
        <h2 class="mt-6 text-2xl font-semibold text-gray-800">
            Oops! Page not found
        </h2>

        <p class="mt-2 text-gray-500">
            The page you're looking for doesn’t exist or has been moved.
        </p>

        <!-- Illustration (Optional Circle Animation) -->
        <div class="relative mt-10 flex justify-center">
            <div class="w-40 h-40 bg-pink-200 rounded-full animate-ping absolute"></div>
            <div
                class="w-40 h-40 bg-pink-400 rounded-full flex items-center justify-center text-white text-3xl font-bold shadow-lg">
                🚫
            </div>
        </div>

        <!-- Button -->
        <div class="mt-20 flex justify-center gap-4">
            <a routerLink="/home"
                class="px-6 py-3 bg-pink-500 text-white font-medium rounded-full shadow-md hover:bg-pink-600 transition duration-300 cursor-pointer">
                Go to Home
            </a>
            <div> OR </div>

            <a routerLink="/courses"
                class="px-6 py-3 bg-pink-500 text-white font-medium rounded-full shadow-md hover:bg-pink-600 transition duration-300 cursor-pointer">
                Courses
            </a>
        </div>

    </div>
    <!-- </div> -->
</div>